html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .header__basket:after, .search:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .header__basket:before, .search:before {
  content: '';
  display: table;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  background-color: #f2f2f2;
  line-height: 1.25;
  font-family: "SegoeUIRegular", sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header {
  background-color: #609ebf;
  padding: 30px 0 20px;
  border-bottom: 1px solid #799fb6;
}

.header__addr {
  padding-top: 51px;
}

.header__addr .ui-selectmenu-button.ui-button {
  width: 100%;
}

.header__addr .ui-state-default, .header__addr .ui-widget-content .ui-state-default, .header__addr .ui-widget-header .ui-state-default, .header__addr .ui-button, .header__addr html .ui-button.ui-state-disabled:hover, .header__addr html .ui-button.ui-state-disabled:active {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  white-space: normal;
  padding-left: 28px;
  position: relative;
}

.header__addr .ui-state-default::before, .header__addr .ui-widget-content .ui-state-default::before, .header__addr .ui-widget-header .ui-state-default::before, .header__addr .ui-button::before, .header__addr html .ui-button.ui-state-disabled:hover::before, .header__addr html .ui-button.ui-state-disabled:active::before {
  content: '';
  display: block;
  width: 23px;
  height: 33px;
  background-image: url(../img/icon/1.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  margin-top: -16.5px;
  left: 0;
}

.header__addr .ui-button .ui-icon {
  display: none;
}

.header__addr .ui-selectmenu-text {
  margin: 0;
  font-family: "SegoeUIRegular", sans-serif;
  line-height: 20px;
  color: #fcfbfb;
  position: relative;
  display: inline-block;
  overflow: visible;
}

.header__addr .ui-selectmenu-text::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  border-bottom: 3px dotted #fcfbfb;
}

.header__phone {
  display: inline-block;
  padding-top: 43px;
}

.header__callback {
  display: inline-block;
  padding-top: 43px;
}

.header__search {
  padding-top: 56px;
}

.header__basket {
  padding-top: 46px;
}

.logo__link {
  display: block;
  width: 263px;
  height: 86px;
}

.logo__img {
  max-width: 100%;
  height: auto;
}

.phone {
  padding-left: 23px;
  position: relative;
  width: 167px;
}

.phone::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 33px;
  background-image: url(../img/icon/2.png);
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  top: 50%;
  display: block;
  margin-top: -16.5px;
}

.phone__link {
  display: inline-block;
  color: #fdfefe;
  font-size: 18px;
}

.phone__info {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-family: "SegoeUIBold", sans-serif;
  color: #e2edf3;
  font-size: 16px;
  letter-spacing: -1px;
}

.callback {
  width: 95px;
  padding-left: 13px;
}

.callback__link {
  font-size: 18px;
  color: #fdfefe;
  line-height: 19px;
  text-decoration: underline;
}

.search__link {
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #fcfbfb;
  border-radius: 50%;
  position: relative;
  float: right;
}

.search__link::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 16px;
  background-image: url(../img/icon/3.png);
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
}

.basket {
  padding-left: 45px;
  position: relative;
  float: right;
}

.basket::before {
  content: '';
  width: 36px;
  height: 37px;
  display: block;
  background-image: url(../img/icon/4.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -18.5px;
}

.basket__link {
  text-decoration: underline;
  font-size: 18px;
  color: #fdfefe;
  line-height: 16.82px;
}

.i-slider {
  height: 499px;
  position: relative;
  border-top: 1px solid #f2f2f2;
}

.i-slider__item {
  height: 499px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 54px;
}

.i-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  z-index: 990;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  border: none;
  background-color: transparent;
}

.i-slider .slick-arrow:hover {
  background-position: 0 -50px;
}

.i-slider .slick-prev {
  left: 276px;
  background-image: url(../img/icon/btn-prev-02.svg);
  background-position: 0 0;
}

.i-slider .slick-next {
  right: 276px;
  background-image: url(../img/icon/btn-next-02.svg);
  background-position: 0 0;
}

.i-title h2 {
  color: #fefefe;
  font-size: 36px;
  line-height: 48px;
  font-family: "SegoeUILight", sans-serif;
  display: block;
  padding-bottom: 8px;
}

.i-description p {
  color: #186ca4;
  font-size: 14px;
  line-height: 15px;
  display: block;
}

.panel {
  padding: 12px 0;
}

.panel__p-element {
  height: 88px;
}

.p-catalog__button {
  background-image: url(../img/c-button.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 100%;
  background-size: 100% 100%;
  height: 88px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}

.p-catalog__button span {
  display: block;
  position: absolute;
  left: 65px;
  bottom: 9px;
  color: #fff;
  font-size: 22px;
}

.p-element {
  padding-left: 61px;
  position: relative;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.p-element__icon {
  position: absolute;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
}

.p-element__link {
  color: #666;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}

.main-menu {
  background-color: #fff;
}

.mm-slider {
  position: relative;
}

.mm-slider .slick-arrow {
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 990;
  border: none;
  background-color: transparent;
}

.mm-slider .slick-prev {
  left: 15px;
  height: 0;
  width: 0;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #b2b2b2;
  border-top: 10px solid transparent;
  padding: 0;
  margin: 0;
}

.mm-slider .slick-prev:hover {
  height: 0;
  width: 0;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #666;
  border-top: 10px solid transparent;
}

.mm-slider .slick-next {
  right: 15px;
  height: 0;
  width: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #b2b2b2;
  border-top: 10px solid transparent;
  padding: 0;
  margin: 0;
}

.mm-slider .slick-next:hover {
  height: 0;
  width: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #666;
  border-top: 10px solid transparent;
}

.mm-slider__link {
  display: block;
  width: 100%;
  height: 190px;
  padding-top: 24px;
}

.mm-slider__link:hover {
  background-color: #d3e7f5;
  text-decoration: none;
}

.mm-slider__icon {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.mm-slider__text {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 16px 0;
  font-size: 18px;
  line-height: auto;
  color: #186ca4;
}

.r-panel {
  padding-top: 8px;
}

.r-panel__r-panel-item {
  padding-top: 8px;
}

.r-panel-text__title {
  font-size: 33px;
  font-family: "SegoeUISemilight", sans-serif;
  color: #666;
  letter-spacing: -1px;
}

.r-panel-item__radio {
  display: none;
}

.r-panel-item__element {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: transparent;
  height: 30px;
  line-height: 28px;
  padding: 0 8px;
  font-size: 14px;
  position: relative;
  color: #666;
}

.r-panel-item__element-active {
  color: #fff;
  background-color: #666;
}

.r-panel-item__element-active svg {
  fill: #fff !important;
}

.r-panel-item__element:hover {
  color: #fff;
  background-color: #666;
}

.r-panel-item__element:hover svg {
  fill: #fff !important;
}

.r-panel-item svg {
  height: 18px;
  display: block;
  position: absolute;
  top: 5px;
  right: 8px;
  fill: #666;
}

.index-catalog {
  padding-top: 26px;
  padding-bottom: 26px;
}

.ic-element {
  background-color: #fff;
  padding: 14px 16px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 412px;
}

.ic-element:hover {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.ic-element__title {
  color: #5e9bb0;
  font-size: 20px;
  font-family: "SegoeUIBold", sans-serif;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  display: block;
}

.ic-element__center {
  padding-top: 30px;
  position: relative;
  padding-bottom: 15px;
  margin-left: -16px;
  margin-right: -16px;
}

.ic-element__img {
  display: block;
  width: 100%;
}

.ic-element__info {
  position: absolute;
  right: 0;
  top: 34px;
  text-align: right;
  width: 150px;
}

.ic-element__info-item {
  background-color: #60afc6;
  border-radius: 4px 0 0 4px;
  display: inline-block;
  margin-bottom: 8px;
  padding: 4px 5px;
  padding-left: 29px;
  position: relative;
  color: #fff;
  font-size: 14px;
  width: auto;
  text-align: center;
}

.ic-element__info-item img {
  max-height: 22px;
  max-width: 22px;
  display: block;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.ic-element__bottom {
  font-size: 0;
}

.ic-element__price {
  display: inline-block;
  width: 50%;
  color: #5e9bb0;
  font-size: 27px;
}

.ic-element__price span {
  font-size: 19px;
}

.ic-element__delivery {
  display: inline-block;
  width: 50%;
}

.ic-element__delivery span {
  display: inline-block;
  padding-left: 45px;
  font-size: 10px;
  color: #5e9bb0;
  line-height: 9px;
  position: relative;
  font-family: "SegoeUIItalic", sans-serif;
  font-weight: bold;
}

.ic-element__delivery span::before {
  content: '';
  width: 41px;
  height: 22px;
  background-image: url(../img/icon/06-delivery.svg);
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
}

.h-articles__title {
  color: #666;
  font-size: 33px;
  font-family: "SegoeUISemilight", sans-serif;
  line-height: 37px;
  display: block;
  padding-left: 52px;
  position: relative;
}

.h-articles__title:hover {
  text-decoration: underline;
  color: #666;
}

.h-articles__title:active, .h-articles__title:focus {
  text-decoration: none;
  color: #666;
}

.h-articles__title::before {
  content: '';
  width: 40px;
  height: 50px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px;
  background-image: url(../img/icon/lett.svg);
}

.h-articles__element {
  padding-top: 26px;
}

.h-articles__item {
  padding-bottom: 26px;
}

.h-articles__img {
  display: block;
  width: 100%;
  height: auto;
}

.h-articles__link {
  font-size: 22px;
  color: #666;
  line-height: 31px;
  text-decoration: underline;
  font-family: "SegoeUIBold", sans-serif;
  display: inline-block;
}

.h-articles__link:hover, .h-articles__link:active, .h-articles__link:focus {
  text-decoration: none;
  color: #666;
}

.h-articles__text {
  padding-top: 10px;
  display: block;
  font-size: 17px;
  line-height: 19px;
  color: #666;
}

.tests-reviews__title {
  padding-left: 55px;
}

.tests-reviews__title::before {
  content: '';
  width: 43px;
  height: 48px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -24px;
  background-image: url(../img/icon/rew.svg);
}

.tests-reviews__video {
  padding-top: 10px;
}

.tests-reviews__video-item {
  width: 222px;
  height: 150px;
  display: inline-block;
}

.tests-reviews__video-text {
  display: inline-block;
  color: #666;
  font-size: 14px;
  line-height: 19px;
  font-family: "SegoeUIItalic", sans-serif;
  padding-left: 10px;
}

.footer {
  background-color: #e8e8e8;
  padding-top: 34px;
  padding-bottom: 34px;
}

.footer__f-adr {
  padding-top: 16px;
}

.f-logo__link {
  display: block;
  width: 165px;
  height: 54px;
}

.f-logo__img {
  max-width: 100%;
  height: auto;
}

.f-adr__link {
  color: #333;
  font-size: 18px;
  line-height: 20px;
  border-bottom: 3px dotted #333;
}

.f-adr__link:hover {
  text-decoration: none;
  color: #333;
  border-color: transparent;
}

.f-adr__link:active, .f-adr__link:focus {
  text-decoration: none;
  color: #333;
}

.f-work__phone {
  color: #333;
  font-size: 18px;
  line-height: 37px;
}

.f-work__phone:hover, .f-work__phone:focus, .f-work__phone:active {
  text-decoration: none;
  color: #333;
}

.f-work__day {
  color: #333;
  font-size: 14px;
  font-family: "SegoeUIBold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-top: -6px;
}

.f-callback {
  padding-top: 16px;
}

.f-callback__link {
  color: #333;
  font-size: 20px;
  text-decoration: underline;
}

.f-callback__link:hover {
  text-decoration: none;
  color: #333;
}

.f-callback__link:focus, .f-callback__link:active {
  text-decoration: underline;
  color: #333;
}

.f-menu__title {
  color: #666;
  font-size: 19px;
  display: inline-block;
}

.f-menu__title-wp {
  text-align: left;
  padding-bottom: 2px;
}

.f-menu__list {
  padding-bottom: 10px;
}

.f-menu__list-item {
  display: block;
  padding: 3px 0;
}

.f-menu__list-link {
  color: #666;
  font-size: 14px;
  line-height: 100%;
  text-decoration: underline;
}

.f-menu__list-link:hover {
  text-decoration: none;
  color: #666;
}

.f-menu__list-link:active, .f-menu__list-link:focus {
  color: #666;
  text-decoration: underline;
}

.f-soc__list {
  padding-top: 8px;
}

.f-soc__item {
  display: block;
  text-align: center;
  padding-bottom: 14px;
}

.f-soc__link {
  display: inline-block;
}

.f-soc__link .fa {
  color: #4d4d4d;
  font-size: 30px;
}
